/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/*--------- Todo List -------- */
:root {
    --body-font: 'figtree', sans-serif;

    --color-body: #E8F3F8 ;
    --color-header: #061b25;
    --color-text: var(--color-header);
    --color-text-muted: #A4D0E3;
    --color-input: #082937;
    --color-input-lighter: #0b374a;
    --color-secondary: #FF8c42;
    --color-secondary-darker:#cc7035;
    --color-secondary-lighter:#ffa368;
    --color-tertiary: #1C89B8;
    --color-text-badge: #E8F3F8;
    --color-disabled: #D2E7F1;
    --color-text-disabled: #77B8D4;

    --global-border-radius: 6px;
    --global-transition: all .2s ease-in-out;
}

.todos {
  margin-bottom: 4rem;
}

.todos li {
  background-color: white;
  border-radius: var(--global-border-radius);
  margin-bottom: 0.3rem;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todos li div {
  display: flex;
  align-items: center;
  gap: .75rem;
  /*check mark cand text between space  */
}

.todos li.complete {
  /* background-color: var(--color-disableb); */
  text-decoration: line-through;
  color: var(--color-text-disabled);

}

input[type='checkbox'] {
  appearance: none;
  background-color: transparent;
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--color-text);
  border-radius: 100%;
  display: grid;
  place-content: center;
  transform: var(--global-transition);
  cursor: pointer;


}
/* --------header------- */
#main-herder {
  background-color: var(--color-header);
  padding: 1rem;
  margin-bottom: 1rem;

}
